.postId {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.blockWithError {
  display: flex;
  justify-content: center;
}

@media (max-width: 745px) {
  .postIdItem {
    width: 380px;
  }

  .postIdItemTitle {
    margin: 0;
    width: 380px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .postIdItem {
    width: 280px;
  }

  .postIdItemTitle {
    font-size: 25px;
    width: 280px;
  }
}
